<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 供货商搜索 -->

<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        {/if}

        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>项目ID</th>
				<th>商家</th>
                <th>卡项名称</th>
                <th>项目名称</th>
				<th>项目数量</th>
				<th>更新时间</th>
                <th>操作</th>
            </tr>
            {foreach from=$list item=card}
            <tr>
                <td align='center'>{$card.id} </td>
				<td align='center'>{$card.supplier_name} </td>
				<td align='center'>{$card.card_name} </td>
                <td align='center'>{$card.project_name}</td>
				<td align='center'>{$card.project_number}</td>
                <td align='center'>{$card.update_time}</td>
                <td align="center">
					<a href="card_item.php?act=item_card_column_info&id={$card.id}" title="编辑">编辑</a>
					&nbsp;|&nbsp;
					<a href="card_item.php?act=item_card_column_del&id={$card.id}" title="删除">删除</a>
				</td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="10">没有找到任何记录</td></tr>
            {/foreach}
        </table>
        <table id="page-table" cellspacing="0">
            <tr>
                <td>&nbsp;</td>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>

<script type="text/javascript" language="javascript">
    
</script>
{include file="pagefooter.htm"}
{/if}