@charset "utf-8";
/* CSS Document */
	.adForm{
		padding:20px 40px;
	}
	.adForm li{
		margin-bottom:20px;
	}
	.adFormWen{
		font-size:14px;
		color:#333;
	}
	.adFormWens{
		margin-right:20px;
	}
	.adFormSlt{
		width:200px;
		line-height:24px;
		height:24px;
		font-size:14px;
		color:#333;
		border:1px solid #666;
		background:url(../images/select.png) no-repeat right center;
		background-size:14px;
		padding-left:5px;
	}
	.adFormNums{
		margin-right:10px;
	}
	.adFormNum{
		display:inline-block;
		width:40px;
		height:24px;
		line-height:24px;
		border:1px solid #666;
		font-size:14px;
		color:#333;
		text-align:center;
		margin-right:5px;
	}
	.adFormFile {
		display:block;
		width: 80px;
		height: 24px;
		position: relative;
		overflow: hidden;
		border:1px solid #666;
		margin-right:40px;
	}
	.adFormFile_1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		line-height: 24px;
		opacity: 0;
		cursor: pointer;
	}
	.adFormFile_2 {
		display: inline-block;
		width: 100%;
		line-height: 24px;
		text-align: center;
		background-color: #f7f7f7;
		color: #333;
	}
	.adFormS{
		font-size:12px;
		color:#999;
		line-height:24px;
	}
	.adFormBox{
		margin-top:10px;
	}
	.adFormBox:first-child{
		margin-top:0px;
	}
	.adFormRdo{
		margin-right:20px;
	}
	.adFormPx{
		background-color:#ddd;
		color:#333;
		padding:0 10px;
		line-height:24px;
		font-size:14px;
		margin-left:20px;
	}
	.adFormPx:first-child{
		margin-left:0px;
	}
	.adFormPx input{
		display:inline-block;
		background-color:#fff;
		border:1px solid #666;
		width:60px;
		margin:0 10px;
		text-align:center;
	}
	.adForms{
		border:1px solid #666;
		padding:20px 5px;
	}
	.adFormL_1{
		display:block;
		width:400px;
		line-height:24px;
		height:24px;
		border:1px solid #666;
		margin-bottom:5px;
		font-size:14px;
		color:#333;
		padding-left:5px;
	}
	.adFormR{
		display:block;
		padding:0 10px;
		border:1px solid #666;
		line-height:30px;
		font-size:14px;
		color:#333;
		border-radius:4px;
		margin-top:10px;
	}
	.adFormWidth{
		width:769px;
	}
	.adFormBtn{
		width:100px;
		text-align:center;
		font-size:14px;
		color:#333;
		line-height:30px;
		border:1px solid #666;
		border-radius:4px;
		margin-right:20px;
	}
